{% extends 'blog\base.html' %}
{% block main %}
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 id = "title">دستبندی</h2>
                    </div>
                    <div class="col-12">
                        <a href="">خانه</a>
                        <a href="">{{category.title}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
 
        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>فروشگاه ما</p>
                    <h2>آخرین محصولات</h2>
                </div>
                <div class="row">
                    {% for product in category.products.all %}
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{{product.picture.url}}" alt="Image">
                                <div class="meta-date">
                                    <span>{{product.category_to_str}}</span>                        
                                </div>
                            </div>
                            <div class="blog-text">
                                <h3><a href="/shop/{{product.slug}}">{{product.name}}</a></h3>
                                <p>{{product.description|striptags|truncatewords:10}}</p>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="">{{product.author.get_first_name}}</a></p>
                                <p><i class="fa fa-folder"></i><a href="{{product.category_to_sl}}">{{product.category_to_str}}</a></p>
                                <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">قبلی</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">بعدی</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

        {% endblock %}