{% extends 'base.html' %}
{%load static%}
{% block main %}
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 id="title">فروشگاه</h2>
                    </div>
                    <div class="col-12">
                        <a href="">خانه</a>
                        <a href="">فروشگاه</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>فروشگاه</p>
                    <h2>آخرین کتاب ها</h2>
                </div>
                <div class="row book">
                    {% for p in products %}
                    <div class="col-lg-4">
                        <div class="book-img">
                            <img class="bookimg" src="{{p.image.url}}">
                        </div>
                        <div class="box-element product">
                            <h6><strong>{{p.name}}</strong></h6>
                            <hr>
                            <form method="post" id="form-{{ p.slug}}">
                                            {% csrf_token %}
                                <input type="hidden" name="product" value="{{ p.id }}">
                            </form>           
                            <button  data-product="{{p.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">خرید</button>
                            <a class="btn btn-outline-success" href="/{{p.slug}}">جزئیات</a>
                            <a class="btn btn-outline-secondary" href="/{{p.category_to_sl}}">{{p.category_to_str}}</a>
                            <h4 style="display: inline-block; float: right"><strong>{{p.price}}</strong></h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
              
                <div class="row">
                    <div class="col-12">
                        <ul class="pagination justify-content-center">
                             {% if productsList.has_previous %} 
                            <li class="page-item disabled"><a class="page-link" href="#">قبلی</a></li>
                             {% endif %}
                            {% for i in paginator%}
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            {% endfor %}
                            {% if productsList.has_next %}
                            <li class="page-item"><a class="page-link" href="#">بعدی</a></li>
                            {% endif %}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}
{% block extra_js %}

{% endblock  %}