{% extends 'base.html' %}
{% block main %}
<form class="form" method="POST" action="#" enctype="multipart/form-data">
    {% csrf_token %}

   
    <div class="form__field">
        <!-- <label for="formInput#text">{{field.label}}</label> -->
        <div class="input--style-4" >{{p.user.id}}</div>
    </div>
    

    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
</form>
{{request.user.first_name}}<br>
{{request.user.last_name}}<br>
{{request.user.email}}
{{request.user.birth_date}}

{% endblock %}