{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8">
        <title>فروشگاه کتاب</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'template/lib/flaticon/font/flaticon.css' %}"   rel="stylesheet">
        <link href="{% static 'template/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'template/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href=" {%static 'template/css/style.css' %}" rel="stylesheet">
        <link href="{%static 'template/css/main.css' %}" rel="stylesheet" media="all">
        <script type = text/javascript>
            var user = '{{request.user}}'
            function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
               const cookies = document.cookie.split(';');
               for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                       break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');
            </script>
    </head>

    <body >
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="logo">
                        <img src="{% static 'template/img/logo.png' %} ">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class=" icon col-12 ">
                                <a href="{% url 'products:checkout' %}"><i class="fa fa-shopping-bag " aria-hidden="true" id="cart-total" style="font-size: 25px">{{cartItem}}</i></a> |
                                <a href ="edit/{{user.pk}}"><i class="fa fa-user" aria-hidden="true" style="font-size: 25px"></i></a>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="shop/" class=" nav-link " id="nav-link">صفحه اصلی</a>
                    <a href="shop/" class=" nav-link "id="nav-link" >فروشگاه</a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            {% if user.is_authenticated %}
                            <a class="btn btn-custom" href="{% url 'logout' %}">خروج</a>
                            <a class="btn btn-custom" href="edit/{{user.pk}}">پروفایل </a>
                            {% else %}
                        <div class="ml-auto">
                            <a class="btn btn-custom" href="{% url 'register' %}"> ثبت نام</a><a class="btn btn-custom" href="{% url 'login' %}">ورود</a>
                        </div>
                    {% endif %}
                    </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->
        {% block main %}
        {% endblock %}
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact"> 
                            <h2> ارتباط با ما </h2>
                            <p><i class="fa fa-map-marker-alt"></i> تهران، میدان ولیعصر، خیابان کریم خان زند، خیابان عضدی</p>
                            <p><i class="fa fa-phone-alt"></i>09123456789</p>
                            <p><i class="fa fa-envelope"></i>info@example.com</p>
                            <div class="footer-social">
                                <a class="btn" href="/instagram.com"><i class="fab fa-instagram"></i></a>
                                <a class="btn" href="/twitter.com"><i class="fab fa-twitter"></i></a>
                                <a class="btn" href="/facebook.com"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn" href="/youtube.com"><i class="fab fa-youtube"></i></a>
                                <a class="btn" href="/linkdin.com"><i class="fab fa-linkedin-in"></i></a>
                            </div>   
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>لینک ها محبوب</h2>
                            <a href="">درباره ما </a>
                            <a href="">تماس با ما</a>
                            <a href="">شسی</a>
                            <a href="">دیگه چه خبر</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>لینک های مفید</h2>
                            <a href="">حساب کاربری</a>
                            <a href="">پروفایل</a>
                            <a href="">سبد خرید</a>
                            <a href="">درگاه پرداخت</a>
                            
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-newsletter">
                            <h2>خبرنامه</h2>
                            <form>
                                <input class="form-control" placeholder="نام کاربری">
                                <input class="form-control" placeholder="ایمیل">
                                <button class="btn btn-custom">تایید</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>تمامی حقوق این سایت متعلق به &copy;  <a href="#"> حدیثه </a> می باشد .</p>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{%static 'template/lib/easing/easing.min.js' %}"></script>
        <script src="{%static 'template/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{%static 'template/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{%static 'template/lib/counterup/counterup.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <!-- Contact Javascript File -->
        <script src="{% static 'template/vendors/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'template/vendors/mail-script.js' %}"></script>
        <!-- Template Javascript -->
        <script src=" {%static 'template/js/main.js' %}"></script>
        <script src=" {%static 'template/js/carts.js' %}"></script>

    </body>
</html>
