{% extends 'base.html' %}


{% block main %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="my-5">ویرایش پروفایل</h2>
      <div class="form-group">
        
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <table>
              <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>نام کاربری</th>
              </tr>
              <tr>
                <td>{{request.user.first_name}}</td>
                <td>{{request.user.last_name}}</td>
                <td>{{request.user.username}}</td>
              </tr>
            </table>
            {{ form.as_p }}
            <a href="{% url 'password' %}">تغییر پسورد</a>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">تایید</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}