{% extends 'base.html' %}
{% block main %}

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header text-left">
                            <p>درباره ما</p>
                            <h2>فروشگاه کتاب  </h2>
                        </div>
                        <div class="about-content">
                            <p>
                                لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                            </p>
                            <ul>
                                <li><i class="far fa-check-circle"></i>بهینه</li>
                                <li><i class="far fa-check-circle"></i>سریع</li>
                                <li><i class="far fa-check-circle"></i>ایمن</li>
                                <li><i class="far fa-check-circle"></i>استاندارد</li>
                            </ul>
                            <a class="btn btn-custom" href="">جزئیات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        
        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>فروشگاه ما </p>
                         <h2>جدیدترین کتاب ها</h2>
                </div>
                <div class="row">
                   
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="" alt="Image">
                              
                            </div>
                            <div class="blog-text">
                                <h3><a href=""></a></h3>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-folder"></i><a href=""></a></p>
                                <p><i class="fa fa-comments"></i><a href=""></a></p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- Blog End -->
        {% endblock %}
