{% extends 'base.html' %}
{% load static %}
{% block main %}


{% if page == 'register' %}

<div class="container">
    <div class="card">
        <div class="auth__header text-center">
            <br>
            <h3>ایجاد حساب کابری</h3>
        </div>

        <form method="POST" action="{% url 'register' %}" class="form auth__form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form__field">
                <label for="formInput#text">{{field.label}}</label>
                <div class="input--style-4" >{{field}}</div>

                <!-- {% if field.help_text %}
                <small>{{field.help_text}}</small>
                {% endif %} -->

                {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}
                
            </div>

            {% endfor %}
          
            <div class="auth__actions">
                <input class="btn btn-primary" type="submit" value="ثبت نام" />
            </div>
        </form>
        <div class="auth__alternative">
            <p>حساب کاربری  دارید؟ / <a href="{% url 'login' %}">ورود</a>  </p>
            
        </div>
    </div>
</div>



{% else %}

<div class="container">
    <div class="row">
        <div class=" loginform col-9">
        <form action="" method="POST" class="form auth__form">
            {% csrf_token %}
            <!-- Input:Username -->
                <label >نام کاربری: </label><br>
                <input class="col-12"  type="text" name="username"
                    placeholder="Enter your username..." />
           <br>
                <label >رمزعبور: </label><br>
                <input class="col-12"  type="password" name="password"
                    placeholder="••••••••" />
                <br>
                <br>
                <button type="submit" class="btn btn-primary">ورود</button>          <a href="/password_reset/">فراموشی رمز عبور</a>
                <p>حساب کاربری ندارید؟<a href="{% url 'register' %}"> ثبت نام</a></p>
                
        </form>

        
    </div>   
    </div>
</div>


{% endif %}
{% endblock  %}