{% extends 'blog/base.html' %}

{% block main %}
<div class="page-wrapper  p-t-130 p-b-100 font-poppins">
  <h2 class="title">ورود به حساب کاربری</h2>
  <div class="wrapper wrapper--w680">
      <div class="card card-4 ">
          <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <div class="row row-space">
                  <div class="input-group">
                  <div class="col-12">
                  <input type="text" name="username" placeholder="username"><br>
                </div>
                <div class="col-12">
                  <input type="password" name="password" placeholder="Password"><br>

                </div>
                              
                </div>
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button></br>
                    حساب کاربری ندارید؟ <a href="{% url 'signup' %}">ایجاد حساب کاربری</a>
                </div>
              </div>
            </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  <h2>Log in to My Site</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
 
{% endblock %}