{% load static %}
<div class="col-lg-4">
    <div class="sidebar">      
        <div class="sidebar-widget">
            <div class="search-widget">
                <form>
                    <input class="form-control" type="text" placeholder="عبارت جستجو">
                    <button class="btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <div class="sidebar-widget">
            <h2 class="widget-title">آخرین کتاب</h2>
            <div class="recent-post">
                {% for article in products %}
                <div class="post-item">
                    
                    <div class="post-text">
                        <a href="">{{article.title}}</a>
                        <div class="post-meta">
                            <p>توسط<a href="">ادمین</a></p>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
        
        <div class="sidebar-widget">
            <h2 class="widget-title">دستبندی ها</h2>
            <div class="category-widget">
                {%for cats in category%}
                <ul>
                    <li><a href="$">{{cats.title}}</a><span>{{cats.count}}</span></li>
                </ul>
                {% endfor%}
            </div>
        </div>

       
    </div>
</div>